.sideBarWidth{
    width: 294px;
    border-radius: 20px;
    background-color: #3D41D7;
    /* opacity: 0.1; */
    box-shadow: 0px 14px 34px rgba(34, 37, 169, 0.4);
   
    color: white;
    /* position: absolute; */
}